{# <pre style="background:#fff;">
    {{ dump(entry) }}
    {{ craft.entries.section('pages') }}
</pre> #}
{% set parent = entry.getParent() %}

{% import "_macros" as macro %}

{% block _inline_css %}
    <style>
        {{ source('index_critical.min.css', ignore_missing = true) }}
    </style>
{% endblock %}

{% block content %}

    <section>
        <div class="o-wrapper">
            <div class="c-page">

                <h1 class="c-page__title">{{ entry.title }}</h1>

                <div id="content-container">

                    <div class="o-layout">
                        {% include "_partials/_nav-side" %}

                        <div class="o-layout__item   u-8/12@lg">

                            <div class="c-content">
                                {% if entry.introText | length %}
                                    <p class="c-content__intro">{{ entry.introText }}</p>
                                {% endif %}

                                {% set matrixBlocks = entry.mainContent.all() %}
                                {% for block in matrixBlocks %}
                                    {% switch block.type %}

                                        {% case "text" %}
                                            {% if block.heading | length %}
                                            <h3 class="c-content__heading">{{ block.heading }}</h3>
                                            {% endif %}

                                            {% if block.bodyCopy | length %}
                                            {{ block.bodyCopy }}
                                            {% endif %}


                                        {% case "image" %}
                                            {% set image = block.image.one() %}
                                            {% set aspectRatio = block.aspectRatio | default('16x9') %}
                                            {% set transform = 'full-' ~ aspectRatio %}
                                            <figure class="c-content__image">
                                                {{ macro.imageTransform(image, transform) }}

                                                {% if block.showCaption %}
                                                <figcaption class="c-content__caption">
                                                    {{ block.customCaption ? block.customCaption : image.title }}
                                                </figcaption>
                                                {% endif %}

                                            </figure>

                                    {% endswitch %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>


                    {% if parent and parent.slug == 'history' %}
                        {% include "_partials/_history-paging" %}
                    {% endif %}
                </div>

            </div>
        </div>
    </section>


{% endblock %}

{% block _inline_js %}{% endblock %}
