{% set visitorInformation = entry.visitorInformation.one() %}
{% set exhibition = entry.featuredExhibition.one() %}
{% set whatsOn = entry.whatsOn.all() %}

{% extends "_layouts/_layout.twig" %}

{% import "_macros" as macro %}

{% block _inline_css %}
    <style>
        {{ source('index_critical.min.css', ignore_missing = true) }}
    </style>
{% endblock %}



{% block content %}

    {% include "_components/_hero" with {
        image: entry.featureBanner.one(),
        text: true
    } %}

    <div class="o-wrapper">
        <section class="c-panel   c-homepage-information">
            <h2 class="c-panel__title">Visitor information</h2>

            <div class="o-layout">
                <div class="o-layout__item u-6/12@sm u-4/12@md">
                    <div class="o-layout">
                        <h3 class="c-homepage-information__title   o-layout__item u-4/12@lg">Opening hours</h3>
                        <div class="o-layout__item u-8/12@lg">
                            {% set hours = contact.openHours.one() %}
                            {% set note = hours.note | nl2br %}
                            <p class="c-homepage-information__description">{{ hours.times }}</p>
                            <small class="c-homepage-information__description">{{ note | raw }}</small>
                        </div>
                    </div>
                </div>

                <div class="o-layout__item u-6/12@sm u-4/12@md">
                    <div class="o-layout">
                        <h3 class="c-homepage-information__title   o-layout__item u-4/12@lg">Where to find us</h3>
                        <div class="o-layout__item u-8/12@lg">
                            {% set address = contact.address.one() %}
                            <p class="c-homepage-information__description">{{ address.street }}, {{ address.suburb }}</p>
                            <small class="c-homepage-information__description">({{ address.description }})</small>
                        </div>
                    </div>
                </div>

                <div class="o-layout__item u-4/12@md">
                    <a href="{{ visitorInformation.getUrl() }}" class="c-button c-button--primary">Plan your visit</a>
                </div>

            </div>
        </section>

        <section class="c-panel   c-homepage-exhibition">
            <div class="o-layout">

                <div class="o-layout__item u-6/12@md">
                    <div class="c-homepage-exhibition__text">
                        <h2 class="c-panel__title">{{ exhibition.navTitle ? exhibition.navTitle : exhibition.title }}</h2>
                        <p class="">{{ exhibition.metaDescription }}</p>
                        <a href="{{ exhibition.getUrl() }}" class="c-button c-button--primary">Find out more</a>
                    </div>
                </div>

                <div class="o-layout__item u-6/12@md">
                    <div class="c-homepage-exhibition__images o-layout o-layout--flush">
                        {% set images = exhibition.mainContent.type('imageGallery').one().images.limit(2).all() %}


                        {% for image in images %}
                        <div class="o-layout__item u-6/12@lg">
                            {{ macro.imageTransform(image, 'quarter-1x1') }}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>

        <section class="c-panel   c-homepage-whats-on   u-margin-top-none u-margin-top-large@md">
            <h2 class="c-panel__title">What's on at the Gaol</h2>

            <div class="o-layout">
            {% for item in whatsOn %}

                <div class="o-layout__item u-4/12@md">
                    {% set image = item.navImage.one() ? item.navImage.one() : item.backgroundImage.one() %}
                    {% if image %}
                        {{ macro.imageTransform(image, 'third-16x9', 'c-homepage-whats-on__image') }}
                    {% endif %}

                    <div class="c-homepage-whats-on__text-wrapper">
                        <h3 class="c-homepage-whats-on__title">{{ item.navTitle ? item.navTitle : item.title }}</h3>
                        <p class="c-homepage-whats-on__description">{{ item.metaDescription | default() }}</p>
                        <a class="c-button c-button--primary" href="{{ item.getUrl() }}">Find out more</a>
                    </div>
                </div>

            {% endfor %}

            </div>
        </section>

    </div>


{% endblock %}

{% block _inline_js %}{% endblock %}
